@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root{

    /* UTIL */
    --header-height:56px;

    /* COLORS */
    --HEADER-BGCOLOR:rgb(26, 25, 25);
    --HEADER-TEXTCOLOR: rgb(250, 249, 239);

    --BODY-BGCOLOR:rgb(182, 182, 182);

}

html{
    font-size: 1.25rem;
    font-family: "roboto",sans-serif;
    scroll-behavior: smooth;
}

body{
    min-height: 200vh;
    min-width: 100%;
    max-width: 100vw;
   
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--BODY-BGCOLOR);
}

header{
    min-width: 100%;
    max-width: 100vw;
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-TEXTCOLOR);
    position: fixed;
}


.header-title-line{
    padding: 0.25em 0.5em;
    display: flex;
    max-width: 100vw;
    flex-direction: row nowrap;
    flex-flow: row nowrap;
    justify-content: space-between;
}

header h1{
    font-family: "Playfair Display";
    
}
.menu-button{
    background-color: var(--HEADER-BGCOLOR);
    border: none;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0px;
}

.menu-icon,.menu-icon::before,.menu-icon::after{
    background-color: var(--HEADER-TEXTCOLOR);
    width: 30px;
    height: 4px;
    border-radius: 1px;
    position: absolute;
    transition: all 0.5s;
    overflow-x: visible;
}

.menu-icon::before,.menu-icon::after{
    content: "";
}

.menu-icon::before{
    transform: translate(-15px,-9px);
}
.menu-icon::after{
    transform: translate(-15px,9px);
}

:is(header:hover, header:focus-within) nav{
    display: block;
}




nav{
    max-width: 100vw;
    background-color: var(--HEADER-BGCOLOR);
    display: none;
    transform-origin: top center;
    animation: showMenu 0.5s ease-in-out forwards;
}

@keyframes showMenu {
    0%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
    }
}

header:hover .menu-button:hover + nav {
    display: block; /* Show navigation on hover over the button */
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
}

nav li{
    padding: 0.5rem;
    border-top: 1px solid var(--HEADER-TEXTCOLOR);
}

nav a{
    display: block;
    text-align: center;
    width: 100%;
    margin: auto;
}

nav a:any-link{
    color:var(--HEADER-TEXTCOLOR);
    font-weight: 300;
    text-decoration: none;
}

nav a:hover, nav a:focus{
    transform: scale(1.5);
    transform: all 0.3s;
}

.title-decor{
    content: "";
    background-image: linear-gradient(
        to right,
        #1a29d6,
        #b7fbb1,
        #FCF6A1,
        #F08B32,
        #82122C
    );
    width: 600%;
    animation: gradient-animation 10s linear infinite alternate;
    height: 4px;
    overflow: hidden;
}

@keyframes gradient-animation {
    0% {
        transform: translateX(0);
      }
      
      100% {
        transform: translateX(calc(-100% + ((100 / 6) * 1%)));
      }
}


/* MAIN */
main{
    /* flex-grow: 1; */
    min-width: 100%;
    padding-top:var(--header-height);
    background-image: linear-gradient(
        135deg,
        #1a29d6,
        #b7fbb1,
        #FCF6A1,
        #F08B32,
        #82122C
    );
    background-size: 250%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.verticalTitle{
    padding-top: 0.5rem;
    margin-left: -1rem;
    writing-mode: vertical-rl;
    font-size: 20rem;
    line-height: 0;
    color: #1a29d6;
    color: #3e4dd4;
    overflow-x: visible;
}

.rightMain{
    flex-grow: 1;
    display: flex;
    flex-flow:column nowrap;
    align-items: flex-start;
    /* width:80vw; */
    max-width: 100%;
}

.horizontal{
    padding: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 0rem;
    padding-left: 2rem;
    font-size: 2.5rem;
    color:var(--HEADER-TEXTCOLOR);
    font-style: italic;
    font-family: "Playfair Display", serif;
    font-weight: 600;
}

.landingDiv{
    display:flex;
    flex-flow: row nowrap;
    /* width: 100%; */
    /* flex:1; */
    justify-content: flex-end;
    overflow-x: visible;
}

.landingspacer{
    width: 15vw;
}


.landingcontent{
    width: 82.5%;
    /* border: 1px solid black; */
    display: flex;
    flex-flow: column nowrap;
    padding-top:2rem;
}

.landingmainh1{
    background-color: var(--HEADER-BGCOLOR);
    padding-bottom: 0.2rem;
}

.landingcontent h1{
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "Playfair Display", serif;
    text-align: right;
    font-size: 4rem;
    color: var(--HEADER-TEXTCOLOR);
    line-height: 4.25rem;
    white-space: nowrap;
    padding-right: 0.7rem;
}

.underH1text{
    margin: 0.1rem 0rem 0.1rem 0.1rem;
    font-weight: 300;
    text-align: right;
    padding-right: 0.7rem;
}

.introparagraph{
    margin-top: 0.75rem;
    padding:0.7rem;
    text-align: right;
    font-weight: 300;
    /* background-color: rgba(255, 255, 250, 0.938); */
    /* background-color: rgba(250, 249, 239, 0.897); */
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-TEXTCOLOR);
    font-size: 1em;
    height: auto;
}

.heroButton{
    margin: 1.25rem;
    margin-top: 1.15rem;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: flex-end;
}

.heroButton button{

    border: none;
    /* border: 1px solid var(--HEADER-TEXTCOLOR); */
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    height: 65px;
    width: 125px;
    margin-right: 2rem;
    /* background-color: dodgerblue; */
    background-color: #3e4dd4;
    color: var(--HEADER-TEXTCOLOR);
    font-weight: 500;
    font-size: .8rem;
    text-align: center;
    cursor: pointer;
    transition: background 250ms ease-in-out, transform 150ms ease;
}

.heroButton button:hover,
button:focus{
    background-color:#3845bb;
    /* background-color:rgb(25, 119, 212); */
}

.heroButton button:focus {
    outline: 1px solid #3e4dd4;
    outline-offset: -4px;
}

.heroButton button:active{
    transform: scale(0.99);
}
.aboutSpacer{
    /* border: 1px solid #1a29d6; */
    height: 70px;
}
.aboutContainer{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.aboutTitle{
    font-family: "Playfair Display";
    color: var(--HEADER-TEXTCOLOR);
    margin: 0.90rem;
    background-color: var(--HEADER-BGCOLOR);


}

.aboutTitle h1{
    padding: 0.25rem;
    font-size: 3.25rem;
    padding-left: 2rem;
}

.aboutParagraph p{
    margin: 0 1rem 1rem 1rem;
    padding:0.9rem;
    text-align: left;
    font-weight: 300;
    /* background-color: rgba(250, 249, 239, 0.897); */
    /* background-color: rgba(255, 255, 250, 0.938); */
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-TEXTCOLOR);
    font-size: 1.10em;
}

.aboutSpacer2{
    /* border: 1px solid #1a29d6; */
    height: 40px;
}
.aboutContainer2{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.aboutTitle2{
    font-family: "Playfair Display";
    color: var(--HEADER-TEXTCOLOR);
    margin: 0.90rem;
    background-color: black;
    background-color: var(--HEADER-BGCOLOR);

}

.aboutTitle2 h1{
    padding: 0.25rem;
    font-size: 3.25rem;
    padding-left: 2rem;
}

.aboutParagraph2 p{
    margin: 0 1rem 1rem 1rem;
    padding:0.9rem;
    text-align: left;
    font-weight: 300;
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-TEXTCOLOR);
    font-size: 1.10em;
}

.aboutParagraph2 ul{
    margin: 0 1rem 1rem 1rem;
    padding:0.9rem;
    text-align: left;
    font-weight: 300;
    /* background-color: rgba(255, 255, 250, 0.938);
     */
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-TEXTCOLOR);
    font-size: 1.10em;
}

@media screen and (min-width:300px){

    .horizontal{
        padding-top: 0.5rem;
    }
    
    .landingcontent{
        padding-top:1rem;
    }

    .landingmainh1 h1{
        font-size: 3.9rem;
    }
    
    .introparagraph{
        margin-top: 0.50rem;
    }
    
    .heroButton{
        margin-top: 1rem;
    }

    .heroButton button{
        height: 50px;
        width: 125px;
    }
    
}

@media screen and (min-width:425px){

    .horizontal{
        padding-top: .75rem;
        padding-left: 2rem;
    }

    .landingcontent{
        padding-top:1.40rem;
    }
    
    .landingmainh1{
        padding-bottom: 0.2rem;
    }
    
  
    .introparagraph{
        margin-top: 0.75rem;
        padding:0.7rem;
    }
    
    .heroButton{
        margin: 1.25rem;
        margin-top: 1rem;
    }
    
    .heroButton button{
        height: 50px;
        width: 125px;
        margin-right: 2rem;
    }

}

@media screen and (min-width:576px){

}
