<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ColorBorg</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function scrollToSection(sectionId){
            document.getElementById(sectionId).scrollIntoView({
                behavior:"smooth"
            })
        }
    </script>
</head>
<body>
    <header>
        <section class="header-title-line">
            <button class="menu-button">
                <div class="menu-icon">
                </div>
            </button>
            <h1>colorborg</h1>
        </section>
        <nav>
            <ul>
                <li><a class="anchor" href="#about-offset">About</a></li>
                <li><a href="#">Contact Me</a></li>
                <li><a class="anchor" href="{{ url_for('download') }}">Download</a></li>
                {% if session.get('user') %}
                    <li><a class="anchor" href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a class="anchor" href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
        <section class="title-decor">
        </section>
    </header>
    <main>
        <p class="verticalTitle">COLORBORG</p>
        <div class="rightMain">
            <section class="horizontal">
                <p class="horizontalTitle">
                    colorborg
                </p>
            </section>
            <div class="landingDiv">
                <div class="landingspacer">
                </div>
                <div class="landingcontent">
                        <div class="landingmainh1">
                            <h1>The Best </h1>
                            <h1>Colorbot</h1>
                        </div>
                        <div class="underH1text">
                            <p>in the game.</p>
                        </div>
                        <div id="intro" class="introparagraph">
                            <!-- Colorborg was designed from the groundup, as a modular codebase with maintainability in mind. Written in python the program has allowed me to bring my full problem solving skills i have gained over the years in IT and programming. -->
                            I started programming in January, and by May, I had created Colorborg—a modular codebase designed from scratch for maintainability. Built in Python, it demonstrates my rapid learning and problem-solving skills, informed by my background in IT. Colorborg isn't just a project; it's a proof of concept for scalable and efficient solutions, showing that even in a short time, you can build something robust.
                        </div>
                        <div class="heroButton" onclick="scrollToSection('about')">
                            <button type="button">
                                Learn More
                            </button>
                        </div>
                    </div>
                </div>
                <div class="aboutContainer">
                    <div id="about-offset" class="aboutSpacer">
                    </div>
                    <div id="about" class="aboutcontent">
                        <div class="aboutTitle">
                            <h1> about.</h1>
                        </div>
                        <div class="aboutParagraph">
                            <p>
                                ColorBorg is an automation platform for Old School RuneScape. Instead of using injection to interact with the game, ColorBorg employs a mix of color detection, image recognition, optical character recognition, and a local API to navigate the game successfully. The platform is developed in Python with a focus on modularity and ban evasion. Throughout its development, I designed the bot to mimic human behavior, enhancing its natural appearance and reducing the risk of detection.
                                <br>
                                <br>
                                The system's modularity plays a significant role in its flexibility; most functions are written to be universal, allowing them to be reused for other skills. This plug-and-play approach helps ensure that the bot is easily adaptable and expandable for additional in-game tasks.

                                <img src="imgs/promoSS1.png" alt="promo screenshot #1" width="400" height="400">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="aboutContainer2">
                    <div class="aboutSpacer2">
                    </div>
                    <div id="features" class="aboutcontent2">
                        <div class="aboutTitle2">
                            <h1> features.</h1>
                        </div>
                        <div class="aboutParagraph2">
                            <p>
                                The task and skills below are the currently supported skills and task Colorborg can do. More to come in  the future!
                            </p>
                                <ul>
                                    <li><strong>Fisher:</strong> Supports shrimp and fly fishing</li>
                                    <li>
                                        <strong>Slayer:</strong>
                                        Slays Chickens to collect their feathers
                                    </li>
                                    <li>
                                        <strong>Walker:</strong> Able to traverse the game world autonomously
                                    </li>
                                </ul>

                                <p>
                                    Below are the features that truly allow colorborg to be best in class.
                                </p>
                                
                                <ul>
                                    <li>
                                        <strong>Runelite Local API:</strong> Utilizes the RuneLite local API to optimize computational performance and achieve tasks otherwise impossible with a standard color bot.
                                    </li>
                                    <li>
                                        <strong>GUI:</strong>
                                        A clean, straightforward interface providing all necessary controls without unnecessary clutter.
                                    </li>
                                    <li>
                                        <strong>Logging:</strong>
                                        Comprehensive logging capabilities to facilitate efficient debugging and ongoing support.
                                    </li>
                                    <li>
                                        <strong>Break System:</strong>
                                         Allows the bot to take breaks automatically, enhancing its human-like behavior and reducing the risk of detection.
                                    </li>
                                    <li>
                                        <strong>Ban Evasion:</strong>
                                         Designed with ban evasion as a core focus, incorporating the latest techniques to minimize the risk of detection by anti-botting systems.
                                    </li>
                                </ul>
    
                        </div>
                    </div>
                </div>
            </div>
    </main>
</body>
</html>