{% extends "base0.html" %}
{% block title %}{% endblock %}



{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br>
<form action="#" method="POST" style="text-align: center;">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <p>Username:</p>
    <p><input type="text" name="nm" required="True"></p>
    <p>Password:</p>
    <p><input type="password" name="pw" required="True"></p>
    <p><input style="margin:0.6rem; padding: 0.5rem;" type="submit" value="Login" name = "login"></p>
</form>
<a href="{{ url_for('userAccountCreation')}}"><button class="loginCAButton" style="margin: 0.3rem;padding: 0.5rem;">Create Account</button></a>
{% endblock %}